div{
	padding: 20px;
	border: 1px solid #999;
}


.main{
	background: #eee;
	overflow: auto;

}
.team_info{
	width: 200px;
	background: white;
	overflow: auto;
}
.team_info >img {
	align-content: center;
	width:80px;
	height: 80px;
}
.team_info >div {
	float:right;
	/*float: left;*/
	padding: 0px;
	border: 0px;
	text-align: center;
}
.member_info{
	float:right;
}
.team_intro{
	float: left;
}